<div class="custom-font-family bg-custom-purple container-fluid vh-100 pt-1">
	<div class="container mt-5 mb-5">
	    <div class="row d-flex align-items-center justify-content-center">
	        <div class="col-md-6">
	            <div class="card bg-dark-light text-white px-5 py-5">
	                <h5 class="mt-3">Login</h5> 
	                <small class="mt-2 text-muted">
	                    Ingreso Admin.
	                </small>
	                <%= render partial: "auth/shared/flash_errors", locals: {  object: flash } %>

					<%= form_with url: admin_path, scope: :user do |form| %>
						

						<div class="mt-3 form-input"> 
							<%= form.email_field :email, class: 'form-control text-white bg-dark', required: true, placeholder: 'Email' %>
						</div>

						<div class="mt-4 form-input">
							<%= form.password_field :password, class: 'form-control text-white bg-dark', required: true, placeholder: 'Password' %>
						</div>

						<div class="mt-1">
							<%= form.label :remember_me %>
							<%= form.check_box :remember_me %>
						</div>

						<%= form.submit "Enivar", class: 'btn btn-primary mt-4 signup' %>

					<% end %>
	           </div>
	        </div>
	    </div>
	</div>
</div>