<div class="custom-font-family bg-custom-purple container-fluid min-vh-100 pt-1">
	<div class="bg-dark-light text-white h-100">
		<div class="ms-1 me-1 p-3 border-bottom border-dark">
			<%= render partial: "shared/menu"%>
		</div>
	    <div class="ms-1 me-1 p-3">
	        <h5 class="mt-3">Lista</h5>

	        <% if @tomo_clases.present? && @tomo_clases.any? %>
	        	<% @tomo_clases.each do |tomo_clase| %>
	        		<% clase = tomo_clase.clase %>

	        		<div class="row border-bottom border-dark">
			        	<div class="col">
					        		
							<span><i class="fa fa-bookmark" aria-hidden="true"></i></span>
								<%= clase.asignatura.asignatura %>
								        	
					        <div class="text-secondary">
					        	<% if clase.maestro.present? %>
					        		<small><%= clase.maestro.full_name %></small>
					        	<% else %>
					        		<small>Docente pendiente</small>
					        	<% end %>
					        </div>

					        <div class="mt-4">

					        	<% clase.horario.each do |horario| %>
						        	<div class="row">
						        		<div class="col-3 text-info"><%= horario.dia %>:</div>
						        		<div class="col-3"><%= horario.get_horario %></div>
						        	</div>
					        	<% end %>
					        </div>

					        <div class="mt-2 mb-2">
					        	<small>Disponible: <%= clase.disponibles %>/<%= clase.cupo %></small>
					        </div>

				        </div>

				        <div class="col">
				        	<a href="/calificaciones/ver/alumno/<%= tomo_clase.id %>"><button data-bs-toggle="tooltip" data-bs-placement="top" title="Calificaciones" class="btn-sm btn-primary ms-3"><i class="fa fa-file-text" aria-hidden="true"></i></button></a>
				        			
				        </div>
			        </div>
	        	<% end %>
	        <% end %>

	    </div>
	</div>
</div>
